body {
    background-color: #f8f8f8;
}

main {
    max-width: 1127px;
    padding: 2rem;
    margin: 5rem auto;
    background-color: #fff;
    box-shadow: 0 2px 6px rgb(100 100 100 / 30%);
}

#header-settings{
    display: flex;
    justify-content: space-between;
}

#header-title img {
    margin-right: 1.5rem;
}

#header-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui.mini.form{
    padding: 5px 10px !important;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgb(100 100 100 / 30%);
}

.field {
    text-align: center;
    margin: 0 5px !important;
}

.field:last-child {
    margin-right: 0px !important;
}

.field label{
    margin: 0 !important;
}

.range-input{
    display: block;
}

#grade-table{
    margin-top: 25px;
}
